<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <base href="/contacts/app/">

    <title></title>
    <meta name="action" content="icon=delete" href="views/list/index.html" rel="prev">
     <link rel="stylesheet" href="components/base/base.css">
    <link rel="stylesheet" href="components/base/base.css">
    <link rel="stylesheet" href="components/gaia-fonts/style.css">
    <link rel="stylesheet" href="components/gaia-theme/gaia-theme.css">
    <link rel="stylesheet" href="views/detail/detail.css">

    <script defer src="components/runtime-bridge/client.js"></script>
    <script defer src="app_config.js"></script>
    <script defer src="utils.js"></script>
    <script defer src="event_dispatcher.js"></script>
    <script defer src="lib/db_worker_contracts.js"></script>
    <script defer src="lib/sync_manager_contract.js"></script>
    <script defer src="views/base_controller.js"></script>
    <script defer src="views/detail/controller.js"></script>
    <script defer src="cache/contract.js"></script>
    <script defer src="cache/render/api.js"></script>
    <script defer src="views/detail/detail.js"></script>
    <script defer src="views/server.js"></script>
  </head>
  <body class="theme-communications">
    <div class="content">
      <h1 class="first-name">First Name</h1>
    </div>
  </body>
</html>
