
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.views {
  position: absolute;
  height: calc(100% - 3rem);
  width: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border: none;

  transition: transform 0.3s ease;
  will-change: transform;
}

iframe.forward {
  transform: translateX(99.99%);
}

iframe.current {
  transform: translateX(0);
}

iframe.back {
  transform: translateX(-99.99%);
}


.views[slow] iframe {
  transition-duration: 3s;
}

.views[debug] iframe {
  outline: 1rem solid red;
  outline-offset: -1rem;
}

/* Footer */

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background:#2C393B;
}

.avatar {
  float: left;
  margin-left: 1rem;
  position: relative;

  height: 4rem;
  width: 4rem;

  -moz-border-radius: 50%;
  border-radius: 50%;

  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.email {
  float: left;
  margin: 1rem;
  font-size: 20px;
  color: white;
}

.hide {
  display: none;
}
