<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <base href="/contacts/app/">

    <title>Contacts: Edit</title>
    <link rel="stylesheet" href="components/base/base.css">
    <link rel="stylesheet" href="components/gaia-fonts/style.css">
    <link rel="stylesheet" href="components/gaia-theme/gaia-theme.css">
    <link rel="stylesheet" href="components/gaia-icons/gaia-icons.css">
    <link rel="stylesheet" href="views/edit/edit.css">
    <script defer src="components/gaia-icons/gaia-icons.js"></script>
    <script defer src="components/gaia-component/gaia-component.js"></script>
    <script defer src="components/gaia-header/dist/gaia-header.js"></script>
    <script defer src="components/gaia-text-input/gaia-text-input.js"></script>
    <script defer src="app_config.js"></script>
    <script defer src="utils.js"></script>
    <script defer src="event_dispatcher.js"></script>
    <script defer src="glue/protocol_helper.js"></script>
    <script defer src="views/base_controller.js"></script>
    <script defer src="views/edit/controller.js"></script>
    <script defer src="views/edit/edit.js"></script>
  </head>
  <body class="theme-communications">
    <gaia-header>
      <a class="action" href="views/list/index.html" data-icon="back"></a>
      <h1>Add Contact</h1>
      <button class="save">Save</button>
    </gaia-header>
    <div class="content">
      <gaia-text-input name="givenName" placeholder="First Name"></gaia-text-input>
      <gaia-text-input name="familyName" placeholder="Last Name"></gaia-text-input>
      <gaia-text-input name="email" type="email" placeholder="Email"></gaia-text-input>
      <gaia-text-input name="tel" type="tel" placeholder="Phone"></gaia-text-input>
    </div>
  </body>
</html>
