<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Contacts: List</title>
		<link rel="prerender" src="view/detail">

		<link rel="stylesheet" href="../../components/base/base.css">
		<link rel="stylesheet" href="../../components/gaia-fonts/style.css">
		<link rel="stylesheet" href="../../components/gaia-theme/gaia-theme.css">
		<link rel="stylesheet" href="../../components/gaia-icons/gaia-icons.css">
		<link rel="stylesheet" href="list.css">

		<script defer src="../../components/gaia-icons/gaia-icons.js"></script>
		<script defer src="../../components/gaia-header/dist/gaia-header.js"></script>
		<script defer src="../../components/gaia-component/gaia-component.js"></script>
		<script defer src="../../components/gaia-list/gaia-list.js"></script>
		<script defer src="/utils.js"></script>
		<script defer src="/glue/protocol_helper.js"></script>
		<script defer src="controller.js"></script>
		<script defer src="list.js"></script>
	</head>
	<body class="theme-communications">
		<gaia-header>
      <h1>List</h1>
    </gaia-header>
    <gaia-list></gaia-list>
	</body>
</html>
